# Aula 06 - GROUPBY

In [21]:
import pandas as pd

In [4]:
# Criando um DataFrame
data = {
    'Categoria': ['A', 'A', 'B', 'B', 'C', 'A'],
    'Valor': [10, 20, 30, 40, 50, 60]
}
df = pd.DataFrame(data)
print(df)

  Categoria  Valor
0         A     10
1         A     20
2         B     30
3         B     40
4         C     50
5         A     60

In [5]:
grupo = df.groupby('Categoria')

In [6]:
grupo['Valor'].sum()

Categoria
A    90
B    70
C    50
Name: Valor, dtype: int64

In [7]:
print(df.groupby("Categoria")["Valor"].agg(['sum', 'mean', 'max']))

           sum  mean  max
Categoria
A           90  30.0   60
B           70  35.0   40
C           50  50.0   50

In [13]:
dfpaises = pd.read_csv('datasets/paises.csv',sep=';')

In [15]:
group_region = dfpaises.groupby('Region')
print(group_region.count())
print(group_region['Region'].value_counts())

                                     Country  Population  Area (sq. mi.)  \
Region
ASIA (EX. NEAR EAST)                      28          28              28
BALTICS                                    3           3               3
C.W. OF IND. STATES                       12          12              12
EASTERN EUROPE                            12          12              12
LATIN AMER. & CARIB                       45          45              45
NEAR EAST                                 16          16              16
NORTHERN AFRICA                            6           6               6
NORTHERN AMERICA                           5           5               5
OCEANIA                                   21          21              21
SUB-SAHARAN AFRICA                        51          51              51
WESTERN EUROPE                            28          28              28

                                     Pop. Density (per sq. mi.)  \
Region
ASIA (EX. NEAR EAST)                                         28
BALTICS                                                       3
C.W. OF IND. STATES                                          12
EASTERN EUROPE                                               12
LATIN AMER. & CARIB                                          45
NEAR EAST                                                    16
NORTHERN AFRICA                                               6
NORTHERN AMERICA                                              5
OCEANIA                                                      21
SUB-SAHARAN AFRICA                                           51
WESTERN EUROPE                                               28

                                     Coastline (coast/area ratio)  \
Region
ASIA (EX. NEAR EAST)                                           28
BALTICS                                                         3
C.W. OF IND. STATES                                            12
EASTERN EUROPE                                                 12
LATIN AMER. & CARIB                                            45
NEAR EAST                                                      16
NORTHERN AFRICA                                                 6
NORTHERN AMERICA                                                5
OCEANIA                                                        21
SUB-SAHARAN AFRICA                                             51
WESTERN EUROPE                                                 28

                                     Net migration  \
Region
ASIA (EX. NEAR EAST)                            28
BALTICS                                          3
C.W. OF IND. STATES                             12
EASTERN EUROPE                                  12
LATIN AMER. & CARIB                             45
NEAR EAST                                       16
NORTHERN AFRICA                                  6
NORTHERN AMERICA                                 5
OCEANIA                                         21
SUB-SAHARAN AFRICA                              51
WESTERN EUROPE                                  28

                                     Infant mortality (per 1000 births)  \
Region
ASIA (EX. NEAR EAST)                                                 28
BALTICS                                                               3
C.W. OF IND. STATES                                                  12
EASTERN EUROPE                                                       12
LATIN AMER. & CARIB                                                  45
NEAR EAST                                                            16
NORTHERN AFRICA                                                       6
NORTHERN AMERICA                                                      5
OCEANIA                                                              21
SUB-SAHARAN AFRICA                                                   51
WESTERN EUROPE                                                       28

                                     GDP ($ per capita)  Literacy (%)  \
Region
ASIA (EX. NEAR EAST)                                 28            28
BALTICS                                               3             3
C.W. OF IND. STATES                                  12            12
EASTERN EUROPE                                       12            12
LATIN AMER. & CARIB                                  45            45
NEAR EAST                                            16            16
NORTHERN AFRICA                                       6             6
NORTHERN AMERICA                                      5             5
OCEANIA                                              21            21
SUB-SAHARAN AFRICA                                   51            51
WESTERN EUROPE                                       28            28

                                     Phones (per 1000)  Arable (%)  Crops (%)  \
Region
ASIA (EX. NEAR EAST)                                28          28         28
BALTICS                                              3           3          3
C.W. OF IND. STATES                                 12          12         12
EASTERN EUROPE                                      12          12         12
LATIN AMER. & CARIB                                 45          45         45
NEAR EAST                                           16          16         16
NORTHERN AFRICA                                      6           6          6
NORTHERN AMERICA                                     5           5          5
OCEANIA                                             21          21         21
SUB-SAHARAN AFRICA                                  51          51         51
WESTERN EUROPE                                      28          28         28

                                     Other (%)  Climate  Birthrate  Deathrate  \
Region
ASIA (EX. NEAR EAST)                        28       28         28         28
BALTICS                                      3        3          3          3
C.W. OF IND. STATES                         12       12         12         12
EASTERN EUROPE                              12       12         12         12
LATIN AMER. & CARIB                         45       45         45         45
NEAR EAST                                   16       16         16         16
NORTHERN AFRICA                              6        6          6          6
NORTHERN AMERICA                             5        5          5          5
OCEANIA                                     21       21         21         21
SUB-SAHARAN AFRICA                          51       51         51         51
WESTERN EUROPE                              28       28         28         28

                                     Agriculture  Industry  Service
Region
ASIA (EX. NEAR EAST)                          28        28       28
BALTICS                                        3         3        3
C.W. OF IND. STATES                           12        12       12
EASTERN EUROPE                                12        12       12
LATIN AMER. & CARIB                           45        45       45
NEAR EAST                                     16        16       16
NORTHERN AFRICA                                6         6        6
NORTHERN AMERICA                               5         5        5
OCEANIA                                       21        21       21
SUB-SAHARAN AFRICA                            51        51       51
WESTERN EUROPE                                28        28       28
Region
ASIA (EX. NEAR EAST)                   28
BALTICS                                 3
C.W. OF IND. STATES                    12
EASTERN EUROPE                         12
LATIN AMER. & CARIB                    45
NEAR EAST                              16
NORTHERN AFRICA                         6
NORTHERN AMERICA                        5
OCEANIA                                21
SUB-SAHARAN AFRICA                     51
WESTERN EUROPE                         28
Name: count, dtype: int64

In [17]:
group_region = dfpaises.groupby('Region')
print(group_region.sum()["Population"])

Region
ASIA (EX. NEAR EAST)                   3687982236
BALTICS                                   7184974
C.W. OF IND. STATES                     280081548
EASTERN EUROPE                          119914717
LATIN AMER. & CARIB                     561824599
NEAR EAST                               195068377
NORTHERN AFRICA                         161407133
NORTHERN AMERICA                        331672307
OCEANIA                                  33131662
SUB-SAHARAN AFRICA                      749437000
WESTERN EUROPE                          396339998
Name: Population, dtype: int64

In [18]:
group_region = dfpaises.groupby('Region')
print(group_region.describe())

                                    Population                              \
                                         count          mean           std
Region
ASIA (EX. NEAR EAST)                      28.0  1.317137e+08  3.102610e+08
BALTICS                                    3.0  2.394991e+06  1.135572e+06
C.W. OF IND. STATES                       12.0  2.334013e+07  3.973450e+07
EASTERN EUROPE                            12.0  9.992893e+06  1.054246e+07
LATIN AMER. & CARIB                       45.0  1.248499e+07  3.235397e+07
NEAR EAST                                 16.0  1.219177e+07  1.819645e+07
NORTHERN AFRICA                            6.0  2.690119e+07  2.901349e+07
NORTHERN AMERICA                           5.0  6.633446e+07  1.305404e+08
OCEANIA                                   21.0  1.577698e+06  4.519602e+06
SUB-SAHARAN AFRICA                        51.0  1.469484e+07  2.309189e+07
WESTERN EUROPE                            28.0  1.415500e+07  2.315879e+07

                                                                        \
                                           min         25%         50%
Region
ASIA (EX. NEAR EAST)                  359008.0  5899398.25  26336502.5
BALTICS                              1324333.0  1799534.00   2274735.0
C.W. OF IND. STATES                  2976372.0  4947558.25   7641217.0
EASTERN EUROPE                       2010347.0  4266475.50   6412407.5
LATIN AMER. & CARIB                     9439.0   117848.00   1065842.0
NEAR EAST                             698585.0  2170984.00   3488139.5
NORTHERN AFRICA                       273008.0  6969319.00  21552552.5
NORTHERN AMERICA                        7026.0    56361.00     65773.0
OCEANIA                                11810.0    57794.00    114689.0
SUB-SAHARAN AFRICA                      7502.0  1540931.00   8090068.0
WESTERN EUROPE                         27928.0    74381.00   4921096.0

                                                               Area (sq. mi.)  \
                                             75%           max          count
Region
ASIA (EX. NEAR EAST)                 85669393.75  1.313974e+09           28.0
BALTICS                               2930320.50  3.585906e+06            3.0
C.W. OF IND. STATES                  18251716.50  1.428935e+08           12.0
EASTERN EUROPE                       10044864.25  3.853687e+07           12.0
LATIN AMER. & CARIB                   8989046.00  1.880782e+08           45.0
NEAR EAST                            19525067.75  7.041396e+07           16.0
NORTHERN AFRICA                      33163467.00  7.888701e+07            6.0
NORTHERN AMERICA                     33098932.00  2.984442e+08            5.0
OCEANIA                                274578.00  2.026408e+07           21.0
SUB-SAHARAN AFRICA                   15621837.00  1.318597e+08           51.0
WESTERN EUROPE                       10626417.00  8.242230e+07           28.0

                                                   ... Industry         \
                                             mean  ...      75%    max
Region                                             ...
ASIA (EX. NEAR EAST)                 8.248826e+05  ...  0.40475  0.561
BALTICS                              5.833833e+04  ...  0.30950  0.325
C.W. OF IND. STATES                  1.841737e+06  ...  0.38150  0.457
EASTERN EUROPE                       9.601850e+04  ...  0.32675  0.393
LATIN AMER. & CARIB                  4.565352e+05  ...  0.31200  0.570
NEAR EAST                            2.722241e+05  ...  0.50550  0.801
NORTHERN AFRICA                      1.003148e+06  ...  0.46350  0.600
NORTHERN AMERICA                     4.356494e+06  ...  0.20400  0.294
OCEANIA                              4.057053e+05  ...  0.26200  0.584
SUB-SAHARAN AFRICA                   4.772825e+05  ...  0.30350  0.906
WESTERN EUROPE                       1.325171e+05  ...  0.29500  0.460

                                    Service                             \
                                      count      mean       std    min
Region
ASIA (EX. NEAR EAST)                   28.0  0.520107  0.166566  0.258
BALTICS                                 3.0  0.661667  0.039678  0.620
C.W. OF IND. STATES                    12.0  0.480167  0.079670  0.361
EASTERN EUROPE                         12.0  0.598667  0.040392  0.549
LATIN AMER. & CARIB                    45.0  0.621800  0.187181  0.000
NEAR EAST                              16.0  0.530000  0.166805  0.197
NORTHERN AFRICA                         6.0  0.432000  0.085685  0.298
NORTHERN AMERICA                        5.0  0.472200  0.437167  0.000
OCEANIA                                21.0  0.463952  0.302063  0.000
SUB-SAHARAN AFRICA                     51.0  0.432118  0.172863  0.000
WESTERN EUROPE                         28.0  0.612536  0.271883  0.000


                                         25%     50%      75%    max
Region
ASIA (EX. NEAR EAST)                 0.39750  0.4950  0.60725  0.927
BALTICS                              0.64300  0.6660  0.68250  0.699
C.W. OF IND. STATES                  0.41625  0.4595  0.55350  0.591
EASTERN EUROPE                       0.57050  0.5910  0.62650  0.672
LATIN AMER. & CARIB                  0.54100  0.6150  0.74300  0.954
NEAR EAST                            0.38850  0.5840  0.66025  0.765
NORTHERN AFRICA                      0.40625  0.4255  0.47625  0.550
NORTHERN AMERICA                     0.00000  0.6840  0.78700  0.890
OCEANIA                              0.26600  0.5590  0.70000  0.818
SUB-SAHARAN AFRICA                   0.35700  0.4100  0.55950  0.730
WESTERN EUROPE                       0.60600  0.6915  0.75125  0.930

[11 rows x 144 columns]

---

In [20]:
# Criando metodos customizados
# retorna 90% do valor
def tenpercent(x):
    return x * 0.9
# mostrando a taxa de mortalidade dos paises
deathrate1 = dfpaises['Deathrate']

# aplicando o metodo customizado por meio do apply
# diminuindo a taxa de mortalidade em 10%
deathrate2 = deathrate1.apply(tenpercent)

# concatenando e mostrando os resultados
pd.concat([deathrate1, deathrate2], axis=1)

     Deathrate  Deathrate
0        20.34     18.306
1         5.22      4.698
2         4.61      4.149
3         3.27      2.943
4         6.25      5.625
..         ...        ...
222       3.92      3.528
223       0.00      0.000
224       8.30      7.470
225      19.93     17.937
226      21.84     19.656

[227 rows x 2 columns]